html * {
    font-family: 'arial';
}
body {
    margin: 0;
    background-color: #d3d3d3;
}
#main-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: flex;
    container: sidebar / inline-size;
    flex-direction: column;
    background-color: #111;
    color: #aaa;
    width: 3rem;
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.long-name {
    display: none;
}
.inputs {
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 0.5rem;
}
.inputs button {
    background-color: #333;
    color: #aaa;
    padding: 0.25em;
    border: none;
}
.inputs .section {
    font-weight: bold;
}
.inputs select {
    width: 100%;
}
#heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#title {
    margin: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}
#burger-size {
    width: 2rem;
    height: 2rem;
    margin: 0.25rem 0.5rem;
}
#burger-icon {
    pointer-events: none;
}
#burger-size:hover {
    background-color: #222;
}
@container sidebar (width > 3rem) {
    .short-name {
        display: none;
    }
    .long-name {
        display: block;
    }
    .top-border {
        border-top: 1px solid #aaa;
    }
}

/* Piano stuff */
#console {
    overflow-y: scroll;
    max-height: 300px;
}
#stats {
    width: auto;
    display: flex;
    justify-content: center;
}
#piano-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
#piano_holder {
    flex-grow: 1;
    margin: 5px;
    margin-top: 0px;
    padding: 0px;
}
#note-render {
    display: flex;
    justify-content: center;
}

/* Statistics */
#table_holder td {
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: left;
}
#streak-highest {
    width: 4em;
}

/* Notifications */
.message {
    opacity: 0;
    display: none;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}
#success {
    color: green;
}
#failure {
    color: red;
}
